body {
  background: #352f5b;
  font-family: "Josefin Sans", sans-serif;
  font-size: 23px;
}

.container {
  margin: 100px auto;
  max-width: 400px;
  min-width: 300px;
  border: 3px solid #423a6f;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px white;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background: #423a6f;
  color: #fff;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}

.head-btn {
  background: #423a6f;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  width: 80px;
  height: 36px;
  font-size: 20px;
  transition: 0.3s;
}

.head-btn:hover {
  background: #fff;
  color: #423a6f;
  transition: 0.3s;
}

.write-todo {
  display: flex;
  justify-content: center;
  align-items: center;
}
